@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Open+Sans:ital@1&family=Poppins&family=Raleway&family=Sora&display=swap');

:root {
    --tag-color :rgb(255, 94, 126) ;
    --blue : #287bff ;
    --white:#fff;
    --grey :#f5f5f5;
}

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    background-color: #287bff;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background-color: var(--blue);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active{
    width: 105px;
 
}

.navigation ul {
position: absolute;
left: 0;
top: 0;
width: 100%;
}
.navigation ul li{
position: relative;
width: 100%;
list-style: none;
border-top-left-radius:30px ;
border-bottom-left-radius:30px ;
}

.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;

}

.navigation ul li:hover{
background-color: var(--white);
}
.navigation ul li:hover  a{
    color: var(--blue);
}
.navigation ul li a{
    display: block;
    position: relative;
    width: 100%;
    display: flex;
    color:var(--white);
}
.navigation ul li a .icon{
    display: block;
    position: relative;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}


.navigation ul li a .icon ion-icon{
  font-size: 1.75em;
}

.navigation ul li a .title{
    display: block;
    position: relative;
    padding: 0px 10px;
    height: 60px;
    line-height: 47px;
    text-align: start;
}

.navigation ul li:hover a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

.main {
    width: calc(100% - 300px);
    position: absolute;
    left: 300px;
    min-height:100vh ;
    background-color: var(--white);
    transition: 0.5s;
}
.main.active {
    width: calc(100% - 105px);
    position: absolute;
    left: 105px;
    min-height:100vh ;
    background-color: var(--white);
    transition: 0.5s;
}
.topbar {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    background-color: var(--grey);
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search{
    position: relative;
    width: 400px;
    margin: 0px 10px;
}
.search label{
    position: relative;
    width: 100%;
}
.search label input{
    position: relative;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid var(--grey);
    outline: none;
    padding-left: 35px;
}
.search label ion-icon{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}
.user-image {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.user-image img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cardbox {
    position: relative;
    width: 100%;
    padding:20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;

}

.cardbox .card {
    position: relative;
    background-color: var(--white);
    padding: 30px;
    box-shadow: 0 7px 25px rgb(0,0,0,0.08);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.cardbox .card  .numbers{
    position: relative;
    color: var(--blue);
    font-size: 2.5em;
    font-weight: 500;
}
.cardbox .card  .cardname{
    position: relative;
    color: gray;
    font-size: 1.1em;
}
.cardbox .card  .iconbox{
    position: relative;
    color: gray;
    font-size: 3.5em;
}

.cardbox .card:hover {
    background-color: var(--blue);
}

.cardbox .card:hover  .numbers,.cardbox .card:hover .iconbox,.cardbox .card:hover .cardname{
    color: var(--white);
}

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns:2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}

.details .recentorders {
    position: relative;
    display: grid;
    background-color: var(--white);
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 7px 25px rgb(0,0,0,0.08);
    border-radius: 20px;
}
.cardheader {
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
}

.cardheader h2{
    font-weight: 600;
    color: var(--blue);
}
.btn {
    position: relative;
    padding: 5px 10px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 6px;
}
.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td {
    font-weight: 600;
}
.details table tbody tr {
    color: black;
    border-bottom: 1px solid rgb(0,0,0,0.1);
}
.details table tbody tr:hover {
    background-color: var(--blue);
    color: var(--white);
}
.details table  tr td{
    padding: 10px;
    color: black;
    border-bottom: 1px solid rgb(0,0,0,0.1);
}
.details table tbody tr:last-child {
    border-bottom: none;
}

.details table  tr td:nth-child(2){
   text-align: start;
}
.details table  tr td:nth-child(3){
    text-align: center;
}

.status.delivered {
    padding: 2px 4px;
    background-color: rgb(74, 250, 74);
    color: var(--white);
    border-radius:4px ;
    font-weight: 500;
    font-size: 14px;
}
.status.return {
    padding: 2px 4px;
    background-color: red;
    color: var(--white);
    border-radius:4px ;
    font-weight: 500;
    font-size: 14px;
}
.status.progress {
    padding: 2px 4px;
    background-color: rgb(253, 188, 8);
    color: var(--white);
    border-radius:4px ;
    font-weight: 500;
    font-size: 14px;
}
.status.pending {
    padding: 2px 4px;
    background-color: rgb(248, 21, 161);
    color: var(--white);
    border-radius:4px ;
    font-weight: 500;
    font-size: 14px;
}

.recentcostumers {
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    box-shadow: 0 7px 25px rgb(0,0,0,0.08);
    border-radius: 20px;
}

.recentcostumers .imgbx{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.recentcostumers .imgbx img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recentcostumers table tr:hover {
    background-color: var(--blue);
    color: var(--white);
}
.recentcostumers table tr:hover td {
    background-color: var(--blue);
    color: var(--white);
}
.recentcostumers table tr:hover  td h4 span{ 
    color: var(--white);
}
.recentcostumers table tr td {
    padding: 12px 10px;
    text-align: start;
}
.recentcostumers table tr td h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
}
.recentcostumers table tr td h4 span{
   color: gray;
}